@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@400;700&display=swap");

/*My Roots*/
:root {
    --black: #171321;
    --drkblue: #1d2038;
    --softora:  hsl(35, 77%, 62%);
    --softred: hsl(5, 85%, 63%);
    --offwhite: hsl(36, 100%, 99%);
    --bluegrey: hsl(233, 8%, 79%) ;
    --drkbluegrey:hsl(236, 13%, 42%);
    --drkblue: hsl(240, 100%, 5%);
    --lightgrey: rgb(180, 180, 180);
    --drkgrey: rgb(126, 123, 123);
    --font-size-p: 15px;
    --mono: "inter", monospace;
    --sans: Oxygen, sans-serif;
    /*Weights: 400, 700, 800*/
    /*LayOut mobile: 375px, desktop: 1440px*/
  }

  html{
    box-sizing: border-box;
  }

  *, *::before, *::after{
    box-sizing: inherit;
  }

  body{
    font-family: var(--sans);
    padding: 0;
    margin: 0;
    background-color: var(--offwhite);
    font-size: var(--font-size);
    
  }
  h1, h2, h3{
    margin: 0;
  }
  li{
    list-style-type: none;
  }

  a{
    color: var(--drkblue);
    text-decoration: none;
  }

  a:hover{
    text-decoration: none;
    color: var(--drkgrey);
  }

/* Navigation Bar */
.header{
  border-bottom: 1px solid var(--black);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--offwhite);
    color: var(--black);
    padding: 1rem 1.5rem;
  }

  .hamburger{
    display: none;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--black);

  }
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-item{
    margin-left: 5rem;
  }

  .nav-link{
    color: var(--drkblue);
    font-weight: 400;
    color: #475569;
  }
  .nav-link:hover{
    color: var(--lightgrey);
  }
  
  .nav-logo {
    font-size: 24px;
    font-weight: bold;
  }

  /*Media Quarys for NavBar*/

  @media only screen and (max-width: 768px) {
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: var(--offwhite);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active{
      left: 0;
    }
    .nav-item{
      margin: 2.5rem 0;
    }
    .hamburger{
      display: block;
      cursor: pointer;
    }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

  
  }
  /*NavBar END here*/
  .grid-hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-rows: 2fr .5fr;
  }

.grid-articles, .other-articles{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(1, 1fr);
    gap: 150px;
  /*  grid-auto-rows: minmax(10px auto);*/
   
  
}
.items{
  display: grid;
  gap: 1rem;
  place-items: center;
}

.hero{
  width: 60%;
 
}


.web-3{
  color: var(--black);
  font-family: var(--mono);
  font-size: 30px;
}
.promise{
  color: var(--lightgrey);
}

  
.new{
  background-color: var(--drkblue);
	color: #fff;
	text-align: left;
	padding: 20px;

}
.new h1{
  color: var(--softora);
}
.new  h2{
  color: white;
}
.new p{
  color: white;
}

.read-more{
  color: white;
  background-color: var(--softred);
  size: 30px;
}

.number{
  color: var(--lightgrey);
}


